.footer {
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100%;
  // margin-top: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
  // padding: 4px;
  // z-index: 10000;

  .menu {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    bottom: 50px;
    padding: 5px;
    transition: transform 0.4s;
    &.visible {
      // visibility:visible;
      transform: translateY(0);
    }
    &.hidden {
      // visibility:hidden;
      transform: translateY(100vh);
    }
    .menuEntry {
      display: flex;
      width: 100%;
      flex-direction: row;
      padding: 5;
      align-items: center;
      height: 40px;
      img {
        height: 70%;
        padding: 5px;
      }
    }
  }

  .wrapper {
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: var(--darker);
    .button {
      margin-top: 5px;
      width: 40px;
      height: 40px;
    }
    .center {
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      .statebutton {
        border: 5px solid var(--black);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        flex: 1;
        align-content: center;
        justify-content: center;
        align-items: center;

        &.active {
          background-color: var(--primary);
        }
        &.inactive {
          background-color: var(--darker);
        }
        img {
          padding: 5px;
        }
      }
    }
  }
}
