.list-view-element {
  margin: 10px;
  display: flex;
  flex-direction: row;
  // width: 100%;
  align-items: center;
  align-content: center;
  // .popup {
  //   // width: 50%;
  //   // height: 50%;
  //   background-color: var(--dark);
  // }

  .popup-content {
    overflow: visible !important;
  }
  .list-view-content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60px;
    // position:relative;

    .text {
      font-size: 20px;
      height: 30px;
      width: 100%;
      font-weight: 300;
      text-align: left;
    }
    .host {
      // position: absolute;
      // right: 8px;
      bottom: 0px;
      font-size: 12;
      width: 100%;
      height: 30px;
      color: var(--text);
      font-weight: 200;
      text-align: left;
    }
  }
}
