.item-container {
  margin-bottom: 5px;
  // display: flex;

  // align-items: center;
  // justify-content: space-between;
  .item-wrapper {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }
  .item-content {
    padding: 5px;
    display: flex;
    align-items: center;
    .item-content-inner {
      display: flex;
      flex-direction: column;
    }
  }
  .item-title {
    font-size: 1em;
  }
  .item-subtitle {
    padding-top: 3px;
    font-size: 0.8em;
  }
  .item-end {
    // max-width:200px#;
    margin-right: 10px;
  }
}

.settings-icon {
  height: 20px;
  padding: 0;
  margin-left: 14px;
  margin-right: 14px;
}
