.popup {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 100%;
  z-index: 1000;
  &.visible {
    visibility: visible;
  }
  &.hidden {
    visibility: hidden;
  }

  .popup-background {
    width: 100%;
    height: 100%;
    background-color: #0006;
    cursor: pointer;
  }
  .popup-content {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // padding:auto;
    // margin:0;
    background-color: var(--darker);
    border-radius: 4px;
    z-index: 1001;
    cursor: auto;
  }
}
