:root {
}
.root {
  background-color: var(--black);
  color: var(--text);
}

html {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  user-select: none;
}

.buttonwrapper {
  cursor: pointer;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  position: relative;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(1.2);
  }
  &:active {
    filter: brightness(0.8);
  }

  .title {
    font-size: 30px;
    font-weight: 400px;
    text-align: center;
    // height: 40px;
  }
  .subtitle {
    font-size: 25px;
    font-weight: 300px;
    text-align: center;
    // height: 35px;
  }
  .buttonicon {
    height: 40px;
    width: 40px;
    background-color: var(--darker);
    border-radius: 20px;
    position: absolute;
    top: 0px;
    display: flex;
    flex: 1;
    align-items: center;
    align-content: center;
    justify-content: center;
    img {
      padding: 4px;
    }
  }
}
.button {
  transition: filter 0.2s;
  cursor: pointer;
  &:hover {
    filter: brightness(1.2);
  }
  &:active {
    filter: brightness(0.8);
  }
}

.floating-button {
  bottom: 20px;
  right: 20px;
  position: absolute;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: var(--primary);
  transition: filter 0.2s;
  cursor: pointer;
  &:hover {
    filter: brightness(1.2);
  }
  &:active {
    filter: brightness(0.8);
  }
}

.page {
  display: flex;
  // flex: 1;
  height: 100vh;
  width: 100%;
  background-color: var(--black);
  color: var(--text);
  flex-direction: column;
  position: relative;
}

.dark-mode {
  --primary: #9c2d26;
  --primary80: #9c2d2680;
  --primary40: #9c2d2640;
  --text: #c7c7c7;
  --white: #fff;
  --lighter: #f3f3f3;
  --light: #dae1e7;
  --dark: #444;
  --darker: #222222;
  --black: #000;
  --warning: #fa4;
}

.light-mode {
  --primary: #9c2d26;
  --primary80: #9c2d2680;
  --primary40: #9c2d2640;
  --text: #181818;
  --white: rgb(23, 23, 23);
  --lighter: #323232;
  --light: #565656;
  --dark: rgb(174, 174, 174);
  --darker: #c8c8c8;
  --black: rgb(232, 232, 232);
  --warning: #fa4;
}

.content {
  overflow-y: auto;
}
input {
  color: var(--text);
}
