.settings {
  .group {
    display: flex;
    flex-direction: column;
    border-bottom-width: 1;
    border-color: var(--dark);
  }
  .groupHeader {
    margin-left: 6px;
    margin-top: 20px;
    color: var(--primary);
    font-size: 12;
    font-weight: 400;
  }
  .element {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    height: 50px;
    img {
      height: 50%;
      padding: 10px;
    }
  }
  .elementDisabled {
    opacity: 0.5;
  }
  .elementContent {
    flex: 1;
  }
  .elementIcon {
    margin: 13;
    margin-right: 25;
  }
}
