.switch-input {
  // .wrapper {
    margin-top: 10;
    margin-bottom: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10;
  // }
  .label {
  }
  .buttons {
    display: flex;
    flex-direction: row;
  }
  .buttonActive {
    border-color: var(--primary80);
    border-width: 2;
    background-color: var(--primary40);
  }
  .buttonInactive {
    border-color: var(--dark);
    border-width: 1;
  }
  .buttonLeft {
    border-top-left-radius: 5;
    border-bottom-left-radius: 5;
  }
  .buttonRight {
    border-top-right-radius: 5;
    border-bottom-right-radius: 5;
  }
  .button {
    color: var(--text);
    padding-top: 10;
    width: 80;
    padding-bottom: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.text-input {
  // .wrapper {
    background-color: var(--darker);
    border-top-right-radius: 5;
    border-top-left-radius: 5;
    padding: 10;
    border-color: var(--dark);
    border-bottom-width: 1;
    margin-top: 10;
    margin-bottom: 10;
  // }
  .label {
    font-size: 12;
    color: var(--text);
  }
  .input {
    background-color: transparent;
    border-width: 0;
    height: 30;
  }
}
