.wrapper {
  height: 50;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 4;
  background-color: var(--black);
}
.buttonwrapper {
  display: flex;
  flex-direction: row;
}
.text {
  font-size: 20;
  font-weight: 400;
  text-align: left;
  width: 100%;
  padding-left: 20;
}
